<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ACCORDION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="faq">
      <ul>
        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 1</h2>
            <p>
              <ion-list>
                <ion-item>
                  <ion-label>Klasifikasi</ion-label>
                  <ion-select value="bp">
                    <ion-select-option value="bp">BP</ion-select-option>
                    <ion-select-option value="bs">BS</ion-select-option>
                    <ion-select-option value="rd">RD</ion-select-option>
                  </ion-select>
                </ion-item>
  
                <ion-item>
                  <ion-label>Zon</ion-label>
                  <ion-select value="u1">
                    <ion-select-option value="u1">U1</ion-select-option>
                    <ion-select-option value="u2">U2</ion-select-option>
                    <ion-select-option value="u3">U3</ion-select-option>
                    <ion-select-option value="t1">T1</ion-select-option>
                    <ion-select-option value="t2">T2</ion-select-option>
                    <ion-select-option value="t3">T3</ion-select-option>
                    <ion-select-option value="t4">T4</ion-select-option>
                    <ion-select-option value="s1">S1</ion-select-option>
                    <ion-select-option value="s2">S2</ion-select-option>
                    <ion-select-option value="s3">S3</ion-select-option>
                    <ion-select-option value="s4">S4</ion-select-option>
                  </ion-select>
                </ion-item>
  
                <ion-item>
                  <ion-label>Tahun</ion-label>
                  <ion-select value="2021">
                    <ion-select-option value="2021">2021</ion-select-option>
                    <ion-select-option value="2020">2020</ion-select-option>
                    <ion-select-option value="2019">2019</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </p>
        </li>

        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Suscipit similique ab ea sapiente? Ex similique culpa iusto 
              beatae est deleniti dignissimos, quas ea, alias dolores sint, 
              molestiae doloribus atque voluptatibus.</p>
        </li>

        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Suscipit similique ab ea sapiente? Ex similique culpa iusto 
              beatae est deleniti dignissimos, quas ea, alias dolores sint, 
              molestiae doloribus atque voluptatibus.</p>
        </li>
      </ul>
  </div>
</ion-content>
