<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ACCORDION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="faq">
      <ul>
        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Suscipit similique ab ea sapiente? Ex similique culpa iusto 
              beatae est deleniti dignissimos, quas ea, alias dolores sint, 
              molestiae doloribus atque voluptatibus.</p>
        </li>

        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Suscipit similique ab ea sapiente? Ex similique culpa iusto 
              beatae est deleniti dignissimos, quas ea, alias dolores sint, 
              molestiae doloribus atque voluptatibus.</p>
        </li>

        <li>
          <input type="checkbox" checked>
            <i></i>
            <h2>Tab Title 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Suscipit similique ab ea sapiente? Ex similique culpa iusto 
              beatae est deleniti dignissimos, quas ea, alias dolores sint, 
              molestiae doloribus atque voluptatibus.</p>
        </li>
      </ul>
  </div>
</ion-content>
